<div class="col-md-6 col-md-offset-3">
  <h2>Post</h2>
  <%= simple_form_for @post do |f| %>
    <%= f.input :title %>
    <%= f.input :picture %>
    <%= f.input :caption %>
    <%= f.submit "Post", class: 'btn btn-success' %>
  <% end %>
</div>
